@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Poppins:wght@500&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  
  font-family: 'Cinzel Decorative', cursive !important;
  font-family: 'Poppins', sans-serif !important;
}
nav, .copyright{
  font-family: 'Roboto', sans-serif;
}
.nav-menu {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  font-size: 31px; }

.navbar-light .navbar-brand {
  color: #fff; }
  .navbar-light .navbar-brand:hover {
    color: #fff; }

.navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
    outline: none; }

.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff; }

@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }

.bg {
  width: 100%;
  height: 70px; }

.is-sticky {
  background: #252a33;
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  border-bottom: 1px solid #636363;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 992px) {
    .fixed {
      border: none;
      background: #252a33; } }

.dropdown-menu {
  background: #030303; }

.dropdown-item {
  color: #aaaaaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dropdown-item:hover {
    color: #fff;
    background: none; }

.ti-plus {
  font-size: 14px;
  padding: 0 8px 0 0; }
.jumbo-tip{
    background: #F2F7FD;
}
.user-status{
    position: absolute;
    top: 10px;
    right: 20px;
}
.light-text{
    font-weight: 100 !important;
}
.header-label{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.30000001192092896px;
text-align: left;

}
h1{
  color: var(--bs-body-color);
  /*font-size: 2.5rem;*/
}
/*.h3, h3 {
    font-size: 1.75rem;
}*/
.copyright ul li a {
  text-decoration: none;
}

@media (min-width: 1200px)
  .h1, h1 {
      font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .mobile_no_margin{
    margin: 0px !important;
  }
  lottie-player{
    height: auto !important;
  }
}
@media screen and (max-width: 740px) {
    body{
        margin-right: 0  !important;
        padding-right: 0 !important;
    }
    .img-col{
      width: 80%;
    }
    .col-lg-4 img{
      width: 50%;
    }
    .mobile_no_margin{
      margin: 0px !important;
    }
    lottie-player{
    height: auto !important;
  }
  }
  
  @media screen and (max-width: 480px) {
    .img-col{
      margin-left: 0px;
      width: 70%;
    }
    .col-lg-4 img{
      width: 40%;
    }
  }